<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FullCalendar CSS and JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

    <!-- Vue.js 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>BlueShirt</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        font-family: Kanit, Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
      }

      #external-events {
        position: fixed;
        z-index: 2;
        top: 20px;
        left: 20px;
        width: 250px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        overflow-y: auto;
        height: calc(100vh - 40px);
      }

      #external-events .fc-event {
        cursor: move;
        margin: 3px 0;
      }

      #calendar-container {
        position: relative;
        z-index: 1;
        margin-left: 300px;
      }

      #calendar {
        max-width: 1100px;
        margin: 20px auto;
      }
      svg {
        width: 25px;
        height: 25px;
      }
      svg:hover {
        fill: red;
        cursor: pointer;
      }
      .v-name-section:hover {
        background-color: rgb(197, 234, 62);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="external-events">
        <div class="d-grid mt-2 mb-3">
          <button
            class="btn btn-primary"
            type="button"
            @click="showAddVNameModal"
          >
            เพิ่มเวร
          </button>
        </div>
        <form>
          <div
            class="row v-name-section"
            v-for="vname in vnames"
            :key="vname.id"
          >
            <div class="col-auto me-auto">
              <strong>{{ vname.name }}</strong>
            </div>
            <div class="col-auto mb-2">
              <svg
                @click="showEditVNameModal(vname.id)"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-edit"
              >
                <path
                  d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
                ></path>
                <path
                  d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
                ></path>
              </svg>
            </div>
          </div>
        </form>
        <hr />
        <!-- List Members -->
        <div class="d-grid">
          <div class="row text-center mb-2">
            <div class="col-10">
              <select
                class="form-select"
                aria-label="Default select example"
                v-model="selectVName"
                @change="fetchMenbers(selectVName)"
              >
                <option
                  v-for="vname in vnames"
                  :key="vname.id"
                  :value="vname.id"
                >
                  {{vname.name}}
                </option>
              </select>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-info btn-sm"
                v-if="selectVName"
                @click="showMembers()"
              >
                <i class="bi bi-people-fill"></i>
              </button>
            </div>
          </div>

          <div v-for="member in members" :key="member.id">
            <div
              class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event"
              :data-v_names_id="member.v_names_id"
              :data-v_members_id="member.id"
            >
              <div class="fc-event-main btn btn-sm">
                {{member.sort}} {{member.name}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- calendar -->
      <div id="calendar-container">
        <div id="calendar"></div>
      </div>

      <!-- Modal for Adding v_names -->
      <div
        class="modal fade"
        id="addVNameModal"
        tabindex="-1"
        aria-labelledby="addVNameModalLabel"
        aria-hidden="true"
        ref="addVNameModal"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addVNameModalLabel">Add v_names</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                  <div class="mb-3">
                    <label for="vNameInput" class="form-label">Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="newVName.name"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="vColorInput" class="form-label">Color:</label>
                    <select
                      class="form-select"
                      aria-label="vNameColor"
                      name="vNameColor"
                      id="vNameColor"
                      v-model="newVName.color"
                    >
                      <option
                        v-for="color in vNameColor"
                        :key="color"
                        :value="color"
                      >
                        {{color}}
                      </option>
                    </select>
                  </div>

                  <div class="modal-footer d-flex justify-content-between">
                    <div>
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                        @click="deleteVName(newVName.id)"
                        v-if="newVName.action == 'update'"
                      >
                        Delete
                      </button>
                    </div>
                    <div class="d-flex gap-2">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cancel
                      </button>
                      <button
                        v-if="newVName.action == 'update'"
                        @click="editVName"
                        v-if="newVName.id"
                        type="button"
                        class="btn btn-warning"
                      >
                        Update
                      </button>
                      <button
                        v-if="newVName.action == 'insert'"
                        @click="addVName"
                        type="button"
                        class="btn btn-primary"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for Adding v_members -->
      <div
        class="modal fade"
        id="showMemberModal"
        tabindex="-1"
        aria-labelledby="showMemberModalLabel"
        aria-hidden="true"
        ref="showMemberModal"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="showMemberModalLabel">
                Show Members
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-2">
                <button
                  type="button"
                  class="btn btn-success"
                  @click="showAddMemberModal"
                >
                  <i class="bi bi-plus-lg"></i> Add Member
                </button>
              </div>
              <form>
                <div class="row">
                  <div>
                    <table class="table table-striped">
                      <tr v-for="member,index in members" ::key="member.id">
                        <td>{{member.sort}}</td>
                        <td>{{member.name}}</td>
                        <td class="text-end">
                          <button
                            type="button"
                            class="btn btn-warning"
                            @click="showEditMemberModal(member.id)"
                          >
                            <i class="bi bi-pencil-square"></i> edit
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger ms-2"
                            @click="deleteMember(member.id)"
                          >
                            <i class="bi bi-x-lg"></i> del
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for Adding v_members_sub -->
      <div
        class="modal fade"
        id="addNewMemberModal"
        tabindex="-2"
        aria-labelledby="addNewMemberModalLabel"
        aria-hidden="true"
        ref="addNewMemberModal"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNewMemberModalLabel">
                Add members
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="showMembers()"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                  <div class="d-flex gap-2">
                    <form>
                      <label for="inputSort" class="">Sort</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="newMember.sort"
                        placeholder="Sort"
                      />
                      <input
                        type="text"
                        class="form-control"
                        v-model="newMember.name"
                        placeholder="Name"
                      />
                    </form>
                  </div>

                  <div class="modal-footer d-flex justify-content-between">
                    <!-- Left-aligned Delete Button (visible only when updating) -->
                    <div>
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                        @click="deleteMember(newMember.id)"
                        v-if="newMember.action == 'update'"
                      >
                        Delete
                      </button>
                    </div>

                    <!-- Right-aligned Buttons: Cancel, Update, Save -->
                    <div class="d-flex gap-2">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        @click="showMembers()"
                      >
                        Cancel
                      </button>

                      <button
                        v-if="newMember.action == 'update'"
                        @click="editMember"
                        type="button"
                        class="btn btn-warning"
                      >
                        Update
                      </button>

                      <button
                        v-if="newMember.action == 'insert'"
                        @click="addMember"
                        type="button"
                        class="btn btn-primary"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for Adding events -->
      <div
        class="modal fade"
        id="addEventModal"
        tabindex="-1"
        aria-labelledby="addEventModalLabel"
        aria-hidden="true"
        ref="addEventModal"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addEventModalLabel">
                Add Event {{newEvent.id ? newEvent.id : ''}}
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3"></div>
              <div class="mb-3"></div>
              <div>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>ID :</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>V_Name_ID :</td>
                      <td>{{newEvent.vNameId}} {{newEvent.vName}}</td>
                    </tr>
                    <tr>
                      <td>vMemberId :</td>
                      <td>{{newEvent.vMemberId}}</td>
                    </tr>
                    <tr>
                      <td>title :</td>
                      <td>{{newEvent.title}}</td>
                    </tr>
                    <tr>
                      <td>start_date :</td>
                      <td>{{newEvent.start_date}}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- {{newEvent}} -->
              </div>
              <div class="modal-footer d-flex justify-content-between">
                <!-- Left-aligned Delete Button -->
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                  @click="deleteEvent(newEvent.id)"
                  v-if="newEvent.id"
                >
                  <i class="bi bi-x-lg"></i> Delete
                </button>

                <!-- Right-aligned Cancel Button -->
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var Draggable = FullCalendar.Draggable;
        var containerEl = document.getElementById("external-events");
        new Draggable(containerEl, {
          itemSelector: ".fc-event",
          eventData: function (eventEl) {
            return {
              title: eventEl.innerText,
            };
          },
        });
      });
    </script>

    <!-- Custom JavaScript with Vue 3 and FullCalendar -->
    <script>
      const { createApp, ref, onMounted } = Vue;

      createApp({
        setup() {
          const vnames = ref([]);
          const newVName = ref({
            name: "",
            color: "",
          });
          const vNameColor = ref(["bule", "red", "green"]);

          const members = ref([]);
          const newMember = ref({
            vNameId: "",
            name: "",
            sort: "",
            action: "insert",
          });

          const newEvent = ref({
            vNameId: "",
            vName: "",
            vMemberId: "",
            title: "",
            start_date: "",
          });

          const selectVName = ref("");
          const calendar = ref(null);

          onMounted(() => {
            fetchVNames();
            initializeCalendar();
          });

          const initializeCalendar = () => {
            calendar.value = new FullCalendar.Calendar(
              document.getElementById("calendar"),
              {
                headerToolbar: {
                  left: "prev,next today",
                  center: "title",
                  right: "dayGridMonth",
                },
                height: "auto",
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar
                // dateClick(info) {
                //   // Handle date click for adding new events
                //   showAddEventModal(info.dateStr);
                // },
                drop(info) {
                  // Handle event drop from external events to calendar
                  handleEventDrop(info);
                },
                eventClick(info) {
                  // Handle event click for editing events
                  showEditEventModal(info.event);
                },
                events: fetchEvents, // Load events from the API using Axios
                editable: true,

                eventDrop: function (info) {
                  handleEventMoveDrop(info);
                },
              }
            );

            calendar.value.render();
          };

          const fetchMenbers = () => {
            axios
              .get(
                `./backend/api.php?endpoint=v_members&v_names_id=${selectVName.value}`
              )
              .then((response) => {
                members.value = response.data;
              });
          };
          const showMembers = () => {
            fetchMenbers();
            const showMemberModal = new bootstrap.Modal(
              document.getElementById("showMemberModal")
            );
            showMemberModal.show();
          };
          const showAddMemberModal = () => {
            newMember.value = {
              v_names_id: selectVName.value,
              name: "",
              sort: "",
              action: "insert",
            };
            bootstrap.Modal.getInstance(
              document.getElementById("showMemberModal")
            ).hide();
            const addNewMemberModal = new bootstrap.Modal(
              document.getElementById("addNewMemberModal")
            );
            addNewMemberModal.show();
          };
          const addMember = async () => {
            try {
              await axios
                .post("./backend/api.php?endpoint=v_members", newMember.value)
                .then((response) => {
                  console.log(response);
                  newMember.value = {
                    v_names_id: selectVName.value,
                    name: "",
                    sort: "",
                    action: "insert",
                  };
                  bootstrap.Modal.getInstance(
                    document.getElementById("addNewMemberModal")
                  ).hide();
                  showMembers();
                })
                .catch((error) => {
                  console.error("Error adding addMember:", error);
                });
            } catch (error) {
              console.error("Error adding addMember data:", error);
            }
          };
          const showEditMemberModal = async (id) => {
            try {
              const response = await axios.get(
                `./backend/api.php?endpoint=v_members&id=${id}`
              );
              console.log(response);

              // Populate newMember with data from the response
              newMember.value = {
                id: response.data.id,
                v_names_id: response.data.v_names_id,
                name: response.data.name,
                sort: response.data.sort,
                action: "update",
              };

              // Show the modal
              const editMemberModal = new bootstrap.Modal(
                document.getElementById("addNewMemberModal")
              );
              editMemberModal.show();
              bootstrap.Modal.getInstance(
                document.getElementById("showMemberModal")
              ).hide();
            } catch (error) {
              console.error("Error fetching member data:", error);
            }
          };
          const editMember = async () => {
            await axios
              .put("./backend/api.php?endpoint=v_members", newMember.value)
              .then((response) => {
                console.log(response);
                newMember.value = {
                  v_names_id: selectVName.value,
                  name: "",
                  sort: "",
                  action: "insert",
                };
                bootstrap.Modal.getInstance(
                  document.getElementById("addNewMemberModal")
                ).hide();
                showMembers();
              })
              .catch((error) => {
                console.error("Error adding addMember:", error);
              });
          };
          const deleteMember = async (id) => {
            await axios
              .delete("./backend/api.php?endpoint=v_members", { data: { id } })
              .then((response) => {
                // events = events.filter((event) => event.id !== id);
                fetchMenbers();
              })
              .catch((error) => {
                console.error("Error Delete v_members:", error);
              });
          };

          const ckAddVName = () => {
            if (newVName.value.name === "") {
              alert("Name cannot be empty");
              return true; // Return true to indicate the check failed
            }
            return false; // Return false to indicate the check passed
          };

          const fetchVNames = () => {
            axios.get("./backend/api.php?endpoint=v_names").then((response) => {
              vnames.value = response.data;
            });
          };
          const showAddVNameModal = () => {
            newVName.value = {
              name: "",
              color: "",
              action: "insert",
            };
            const addVNameModal = new bootstrap.Modal(
              document.getElementById("addVNameModal")
            );
            addVNameModal.show();
          };
          const addVName = async () => {
            if (ckAddVName()) return; // Halt execution if validation fails

            try {
              const response = await axios.post(
                "./backend/api.php?endpoint=v_names",
                newVName.value
              );
              console.log(response);

              // Reset the form
              newVName.value = {
                name: "",
                color: "",
              };

              // Hide the modal
              bootstrap.Modal.getInstance(
                document.getElementById("addVNameModal")
              ).hide();

              // Refresh the list
              fetchVNames();
            } catch (error) {
              console.error("Error adding v_name:", error);
            }
          };

          const showEditVNameModal = async (id) => {
            response = await axios.get(
              `./backend/api.php?endpoint=v_names&id=${id}`
            );
            console.log(response);
            newVName.value = {
              id: response.data.id,
              name: response.data.name,
              color: response.data.color,
              action: "update",
            };
            const addVNameModal = new bootstrap.Modal(
              document.getElementById("addVNameModal")
            );
            addVNameModal.show();
          };
          const editVName = async () => {
            if (ckAddVName()) return; // Halt execution if validation fails

            try {
              const response = await axios.put(
                "./backend/api.php?endpoint=v_names",
                newVName.value
              );
              console.log(response);

              // Reset the form
              newVName.value = {
                name: "",
                color: "",
              };

              // Hide the modal
              bootstrap.Modal.getInstance(
                document.getElementById("addVNameModal")
              ).hide();

              // Refresh the list
              fetchVNames();
            } catch (error) {
              console.error("Error editing v_name:", error);
            }
          };

          const deleteVName = async (id) => {
            // Ask for confirmation before proceeding
            const confirmed = confirm(
              "Are you sure you want to delete this name?"
            );

            if (!confirmed) return; // If the user cancels, exit the function

            try {
              await axios.delete("./backend/api.php?endpoint=v_names", {
                data: { id },
              });
              console.log("Name deleted successfully.");

              // Optionally update your local list of names
              // events = events.filter((event) => event.id !== id);

              // Re-fetch the names after deletion
              fetchVNames();
            } catch (error) {
              console.error("Error deleting name:", error);
            }
          };

          const fetchEvents = async (
            info,
            successCallback,
            failureCallback
          ) => {
            await axios
              .get("./backend/api.php?endpoint=events")
              .then((response) => {
                const events = response.data.map((event) => ({
                  id: event.id,
                  title: event.title,
                  start: event.start_date,
                  allDay: true,
                }));
                successCallback(events);
              })
              .catch((error) => {
                console.error("Error fetching events:", error);
                failureCallback(error);
              });
          };

          const addEvent = async () => {
            await axios
              .post("./backend/api.php?endpoint=events", newEvent.value)
              .then((response) => {
                bootstrap.Modal.getInstance(
                  document.getElementById("addEventModal")
                ).hide();
                initializeCalendar();
              })
              .catch((error) => {
                console.error("Error adding v_name:", error);
              });
          };

          const deleteEvent = async (id) => {
            // Ask for confirmation before proceeding
            const confirmed = confirm(
              "Are you sure you want to delete this event?"
            );

            if (!confirmed) return; // If the user cancels, exit the function

            try {
              await axios.delete("./backend/api.php?endpoint=events", {
                data: { id },
              });
              console.log("Event deleted successfully.");

              // Reinitialize the calendar after deletion
              initializeCalendar();
            } catch (error) {
              console.error("Error deleting event:", error);
            }
          };

          const showAddEventModal = (dateStr) => {
            // Implementation for showing the modal to add a new event
            newEvent.value = {
              vNameId: "",
              vMemberId: "",
              title: "",
              start_date: dateStr,
            };
            const addEventModal = new bootstrap.Modal(
              document.getElementById("addEventModal")
            );
            addEventModal.show();
            console.log("Show add event modal for date:", dateStr);
          };

          const showEditEventModal = async (event) => {
            try {
              // ทำการดึงข้อมูล event จาก backend
              const response = await axios.get(
                `./backend/api.php?endpoint=events&id=${event.id}`
              );
              const vNameId = response.data.v_name_id;
              // if (!vNameId) {
              //   throw new Error("v_name_id is missing or invalid.");
              // }

              const responseVName = await axios.get(
                `./backend/api.php?endpoint=v_names&id=${vNameId}`
              );

              // อัพเดตข้อมูลใน newEvent.value ด้วยข้อมูลจาก response
              newEvent.value = {
                id: response.data.id, // ใส่ id ของ event ถ้าจำเป็นในการบันทึกการแก้ไข
                vNameId: vNameId,
                vName: responseVName.data.name || "",
                vMemberId: response.data.v_member_id,
                title: response.data.title,
                start_date: response.data.start_date,
              };

              // เปิดโมดัลสำหรับการแก้ไข event
              const addEventModal = new bootstrap.Modal(
                document.getElementById("addEventModal")
              );
              addEventModal.show();

              // console.log("Show edit event modal for event:", response.data[0]);
            } catch (error) {
              console.error("Error fetching event data:", error);
            }
          };

          const handleEventDrop = async (info) => {
            // Handle event drop from external events to calendar
            await axios
              .post("./backend/api.php?endpoint=events", {
                v_names_id: info.draggedEl.dataset.v_names_id,
                v_members_id: info.draggedEl.dataset.v_members_id,
                title: info.draggedEl.outerText,
                start_date: info.dateStr,
              })
              .then((response) => {
                initializeCalendar();
              })
              .catch((error) => {
                console.error("Error adding events:", error);
              });
          };

          const handleEventMoveDrop = async (info) => {
            // Handle event drop from external events to calendar
            await axios
              .put("./backend/api.php?endpoint=events&action=move", {
                id: info.event.id,
                start_date: info.event.startStr,
              })
              .then((response) => {
                initializeCalendar();
              })
              .catch((error) => {
                console.error("Error adding events:", error);
              });
          };

          return {
            vnames,
            vNameColor,
            newVName,
            newEvent,
            members,
            newMember,
            selectVName,
            fetchVNames,
            showAddVNameModal,
            showEditVNameModal,
            addVName,
            editVName,
            deleteVName,
            showAddEventModal,
            addEvent,
            deleteEvent,

            fetchMenbers,
            showMembers,
            showAddMemberModal,
            showEditMemberModal,
            addMember,
            editMember,
            deleteMember,
            initializeCalendar,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
